/* CSS challenges were quite easy for me because I have built a project with it in the past. I built a 
Connect4 Gamme with CSS Grid to get a 6x7 block table with a border-radius of 50% to mimic the slots. 
I soon realized I might have been over my head a bit when it came to manipulating the contents of the cell while using CSS, 
I eventually ended up going in a different direction by just creating the cells in HTML & JS.
However, I really like the simplicity of building layouts with CSS Grid and making it super responsive when 
it comes to making DRY(dont repeat yourself code), for example when you use the repeat function.
I plan to spend more time building projects using Grid. I can see the most benefit in using
Grid in making a simple blog or landing page website, which has a simple header, content section and footer
especially when it comes to aligning the content within the cells.   */

<style>
  .d1{background:LightSkyBlue;}
  .d2{background:LightSalmon;}
  .d3{background:PaleTurquoise;}
  .d4{background:LightPink;}
  .d5{background:PaleGreen;}
  
  .container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    /* add your code below this line */
    display: grid;
    
    /* add your code above this line */
  }
</style>
  
<div class="container">
  <div class="d1">1</div>
  <div class="d2">2</div>
  <div class="d3">3</div>
  <div class="d4">4</div>
  <div class="d5">5</div>
</div>